body {
    background-color: #f1e7d4;
}

table, td, th {
    border: 2px double black;
}

button {
    border-radius: 5px;
    background-color: sandybrown;
}

textarea {
    width: 100vw;
    box-sizing: border-box;
    margin-right: 20px;
}
