/* Import styles from index.css */
@import url('css/index.css');
@import url('css/businesses.css');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

body {
    background-color: #f1e7d4;
}

/* Keep table structural but use card styling for rows */
table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 12px;
}
td, th {
	border: none;
	padding: 0;
}

button {
    background: linear-gradient(180deg,#f7d9b3,#e8b87a);
    border: 1px solid #a56a2a;
    padding: 8px 14px;
    font-weight: 600;
    color: #3b2a1f;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    cursor: pointer;
}

textarea {
    width: 100vw;
    box-sizing: border-box;
    margin-right: 20px;
}

#vertical-rule {
	border-left: 2px solid black;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	padding-top: 35px;
}

#inline_containter {
	display: inline-block;
}