<!DOCTYPE html>
<html>
<head>
    <title>List of businesses</title>
    <script type="module" src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Businesses:</h1>
<table id="businesses_table"><tbody></tbody></table>
<form id="change_username_form">
    <label for="change_username_input" id="change_username_label">Change Username: </label>
    <input type="text" id="change_username_input" name="change_username_input" value="Anonymous" required>
    <button id="change_username_submit" type="submit">Change Username</button>
</form>
<footer>
    <p>Developed by David Banyeretse, Fischer Reed, and Ah'mir McCray for FBLA Coding & Programming 2025-26.</p>
    <p>Data provided by Geoapify.</p>
</footer>
</body>
</html>