<!DOCTYPE html>
<html>
<head>
    <title>FBLA Coding & Programming</title>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<form id="userDetails" >
    <label for="username">Username: </label>
    <input type="text" id="username" name="username">
    <br>
    <label for="business_category"> Business Category: </label>
    <select id="business_category" name="business_category">
        <optgroup label="Commercial">
            <option value="commercial">General</option>
            <option value="commercial.clothing">Clothing</option>
            <option value="commercial.hobby">Hobby</option>
            <option value="health_and_beauty">Health Beauty</option>
            <option value="commercial.elektronics">Electronics</option>
        </optgroup>
        <option value="catering">Food</option>
        <option value="retail">Retail</option>
    </select>
    <br>
    <div class="g-recaptcha" id="init_recaptcha" data-sitekey="6LdOWCYsAAAAAHZWOLTyH5LuRUJUdxkHGYyMQfL6"></div>
    <br>
    <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>