<!DOCTYPE html>
<html>
<head>
    <title>FBLA Coding & Programming</title>
    <script type="module" src="{{ url_for('static', filename='script.js') }}" defer></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<form id="userDetails">
    <fieldset id="registration_fieldset">
        <legend id="registration_title"><h2>Registration</h2></legend>
        <label id="username_label" for="username">Username: </label>
        <input type="text" id="username" name="username" value="Anonymous" required>
        <br>
        <div class="g-recaptcha" id="init_recaptcha" data-sitekey="6LdOWCYsAAAAAHZWOLTyH5LuRUJUdxkHGYyMQfL6"></div>
        <br>
        <button id="submit" type="submit" value="Submit">Submit</button>
    </fieldset>
</form>
</body>
</html>